body {
  margin: 0;
  padding: 10px;
  background-color: black;
}
canvas {
  display: block;
  margin: auto;
}
button {
  display: block;
  margin: auto;
  margin-top: 30px;
  background-color: white;
  color: black;
}


